.useOutsideClick-hook-container {
    min-height: 70svh;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.useOutsideClick-hook-container .hook-content-box {
    height: 10rem;
    max-width: 30rem;
    padding: 1rem;
}
.hook-content-box .modal-popup {
    height: 100%;
    background-color: #f7f7f7;
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #734dff;
    border-radius: 0.4rem;
    box-shadow: 0 4px 10px 5px #ececec;
}
.hook-content-box button {
    padding: 0.5rem 1rem;
    border: 1px solid #734dff;
    border-radius: 2rem;
    background-color: #f7f7f7;
    cursor: pointer;
    transition: all 0.3s;
}
.hook-content-box button:hover {
    background-color: #734dff;
    color: #f2f2f2;
}