.rating-container {
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
} 
.wrapper{
    min-height: 3rem;
    min-width: 8rem;
    background-color: white;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border-radius: 3rem;
}

.star {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #333;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.active {
    background-color: rgb(255, 221, 0);
}
.inactive {
    background-color: #333;
}